<div class="head">
<div class="headerobjectswrapper">
    <header>Alambiq</header>
</div>
  <div class="subhead">
    <ul class="cbp-vimenu">
      <li ui-sref-active="active"><a data-info="Home" ui-sref="home">Home</a></li>
      <li ui-sref-active="active"><a data-info="Profile" ui-sref="profile">Profile</a></li>
      <li ui-sref-active="active"><a data-info="Equipment" ui-sref="equipment">Equipment</a></li>
      <li ui-sref-active="active"><a data-info="Events" ui-sref="events">Events</a></li>
      <li ui-sref-active="active"><a data-info="Partners" ui-sref="partners">Partners</a></li>
      <li ui-sref-active="active"><a data-info="Services" ui-sref="services">Services</a></li>
      <li ui-sref-active="active"><a data-info="Gallery" ui-sref="gallery">Gallery</a></li>
      <li ui-sref-active="active"><a data-info="Trends" ui-sref="trends">Trends</a></li>
      <li ui-sref-active="active"><a data-info="Marketing" ui-sref="marketing">Marketing</a></li>
      <li ui-sref-active="active"><a data-info="Contact" ui-sref="contact">Contact</a></li>
    </ul>
  </div>
</div>
<div ui-view="app-container" class="content"></div>